.first__profile {
  text-align: center;
  background-color: var(--navy);
  color: white;
  border: 1px solid red;
}

.first__profile h2 {
  font-size: 2em;
}

.first__profile h3 {
  font-size: 1.5em;
}

.pic a {
  background-image: url("../img/profilepics.png");
  padding-top: -50px;
  width: 421px;
  height: 421px;
  display: inline-block;
  text-indent: -9999px;
  /* border: 1px solid red; */
  border-radius: 15%;
}

.pic a:hover {
  background-position-y: bottom;
}

.icons {
  margin: 30px 0; /*상하 좌우 */
  border: 1px solid red;
}

.icons a {
  background-image: url("../img/icons.png");
  width: 32px;
  height: 32px;
  display: inline; /* 가로로 배치되게 만듦*/
  text-indent: -9999px; /* 안에 포함된 텍스트 삭제 */
  background-repeat: no-repeat; /* 반복하지 않음 */
}

/* 아이콘 위치 잡아주기 */
.icons a.velog {
  background-position: left;
}
.icons a.github {
  background-position: center;
}
.icons a.gmail {
  background-position: right;
}
