@import "variables.css";
@import "left.css";
@import "right.css";

/* CSS Reset zone */
body,
h1,
h2,
h3,
ul,
li,
dl,
dd {
  margin: 0; /* web에서 제공하는 기본 레이아웃 삭제 */
  padding: 0;
}

h1,
h2,
h3 {
  font-size: 100%; /* defaultVlue */
  font-weight: bolder;
}
/* CSS Reset zone */

body {
  background-color: var(--navy);
  height: 500vh;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none; /* bullet-delete */
}

@media (min-width: 768px) {
  /* 최소사이즈 */
  .first__profile {
    position: fixed;
    left: 0;
    top: 10px;
    width: 50vw; /* view port 기준에서 50%의 너비를 받아와라 */
    height: 100vh;
    /* border: 1px solid red; */
  }
  .pic a {
    margin-top: 35px;
  }
  .secon__profile {
    margin-left: 50vw;
    padding-top: 50px;
    /* border: 1px solid red; */
  }
  .timeline {
    margin: 0 -10px; /* 좌우 마진을 부여하면 커지는 느낌이 난다 */
    /* border: 1px solid red; */
  }
  .timeline li {
    width: 50%;
    padding: 100px 20px;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  .timeline li:nth-child(even) {
    /* 반대편 */
    margin-left: auto; /* 빈공간 알아서 정렬됨*/
    margin-top: -150px;
    margin-bottom: -150px;
    /* border: 1px solid red; */
  }
}
