@import "variables.css";

body {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  margin: 0;
  padding: 0;
  height: 100vh;
}

div {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.first__ilne {
  display: flex;
  align-items: center;
}

.first__profile {
  background-image: url(https://g-grafolio.pstatic.net/20190926_21/1569481595889CiCHC_JPEG/0921%B3%D7%B0%A1%B9%D9%B6%F3%B4%C2%BC%D2%BF%F8%C0%CC_%BF%E4%C3%BB2.jpg?type=w896_2);
  /* 중앙 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  padding-top: 20px;
}

.first__profile h2 {
  margin-top: 0;
}

.first__profile h3 {
  margin-bottom: 0;
}

.first__profile img {
  width: 35%;
  height: 35%;
  background-color: white;
  border: 3px solid white;
  border-radius: 100%;
  padding: 0 12px 12px 12px;
}

.first__profile_div {
  width: 50%;
  margin-top: 20px;
}

.first__profile span {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin-top: 5px;
}

.second__ilne {
  display: flex;
  align-items: center;
  border-top: 3px dashed;
  border-bottom: 3px dashed;
  width: 75%;
  height: 75%;
}
