@import "variables.css";
@import "left.css";
@import "right.css";

body {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 1fr;
  margin: 0;
  padding: 0;
  height: 100vh;
}

div {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}
